## 1. READ source - do things like /opt/vc/bin/vcgencmd measure_temp

In [10]:
from sys import argv
import time
capture_times = 5
time_interval = 2
with open('test_source.txt','r') as f:
    for i in range(capture_times): #http://pythoncentral.io/pythons-range-function-explained/ http://www.pythonforbeginners.com/files/reading-and-writing-files-in-python
        print(str(i) + " time to capture")
        print(f.readline(),end="")
        print("sleep at %d seconds" % time_interval, end="\n\n")
        time.sleep(time_interval)

0 time to capture
temp=37.9'C
sleep at 2 seconds

1 time to capture
temp=35.8'C
sleep at 2 seconds

2 time to capture
temp=38.2'C
sleep at 2 seconds

3 time to capture
temp=38.1'C
sleep at 2 seconds

4 time to capture
temp=38.5'Csleep at 2 seconds

In [13]:
import datetime
import os
now = datetime.datetime.now()

In [14]:
now

datetime.datetime(2016, 5, 6, 18, 28, 37, 433670)

In [15]:
timeString = now.strftime("%Y-%m-%d %H:%M:%S")

In [16]:
timeString

'2016-05-06 18:28:37'

In [18]:
capture_times = 5
time_interval = 2
with open('test_source.txt','r') as f1:
    mylist= []
    f2 = open('result.log','w')
    for i in range(capture_times): #http://pythoncentral.io/pythons-range-function-explained/ http://www.pythonforbeginners.com/files/reading-and-writing-files-in-python
        print(str(i) + " time to capture")
        #print(f1.readline(),end="")
        now = datetime.datetime.now()
        timeString = now.strftime("%Y-%m-%d %H:%M:%S")
        mylist.append(timeString + "  " + f1.readline())
        print("sleep at %d seconds" % time_interval, end="\n\n") #http://stackoverflow.com/questions/12102749/how-can-i-suppress-the-newline-after-a-print-statement
        time.sleep(time_interval)

    f2.writelines(mylist)
    f2.close()

0 time to capture
sleep at 2 seconds

1 time to capture
sleep at 2 seconds

2 time to capture
sleep at 2 seconds

3 time to capture
sleep at 2 seconds

4 time to capture
sleep at 2 seconds

## 2 write into DB

In [37]:
import sqlite3 #http://pythoncentral.io/introduction-to-sqlite-in-python/

In [24]:
sqlite3.version

dtime = datetime.datetime.now()
ans_time = time.mktime(dtime.timetuple())
type(ans_time)

float

In [29]:
conn = sqlite3.connect('test.db')
print ('Opened database successfully')
conn.execute('''CREATE TABLE SOC_TEMP(id INTEGER PRIMARY KEY NOT NULL, time REAL, temp TEXT)''')
print('Table created successfully')
conn.commit()
conn.close()

Opened database successfully
Table created successfully

In [30]:
dtime = datetime.datetime.now()
ans_time = time.mktime(dtime.timetuple())
temp = 'temp=37.9\'C'

cursor = sqlite3.connect('test.db')

cursor.execute('''INSERT INTO SOC_TEMP(time,temp)VALUES(?,?)''',(ans_time,temp))

In [31]:
cursor.execute('''INSERT INTO SOC_TEMP(time,temp)VALUES(?,?)''',(ans_time,'temp=34.9\'C'))
cursor.execute('''INSERT INTO SOC_TEMP(time,temp)VALUES(?,?)''',(ans_time,'temp=36.1\'C'))

In [32]:
cursor.commit()
cursor.close()

In [33]:
ans_time

1462533449.0

In [35]:
datetime.datetime.fromtimestamp(ans_time)

datetime.datetime(2016, 5, 6, 19, 17, 29)

In [36]:
datetime.datetime.fromtimestamp(ans_time).strftime("%Y-%m-%d %H:%M:%S")

'2016-05-06 19:17:29'

In [42]:
## read db
conn= sqlite3.connect('test.db')
cursor = conn.execute('''select * from t1 where strftime('%Y-%m-%d %H:%M:%S', datetime(time, 'unixepoch'))  <  datetime('now','-1 hours')''')

In [43]:
for c in cursor:
    print(c)

(1, 1462535571, 'foo')

In [46]:
cursor = conn.execute('''select * from t1 where strftime('%Y-%m-%d %H:%M:%S', datetime(time, 'unixepoch'))  >  datetime('now','-1 hours')''')

In [45]:
for c in cursor:
    print(c)

(2, 1462536627, 'bar')
(3, 1462536627, 'sss')
(4, 1462536628, 'bar')
(5, 1462536628, 'sss')
(6, 1462536630, 'bar')
(7, 1462536630, 'sss')
(8, 1462536635, 'bar')
(9, 1462536635, 'sss')

In [47]:
all_rows = cursor.fetchall()

In [48]:
print(all_rows)

[(2, 1462536627, 'bar'), (3, 1462536627, 'sss'), (4, 1462536628, 'bar'), (5, 1462536628, 'sss'), (6, 1462536630, 'bar'), (7, 1462536630, 'sss'), (8, 1462536635, 'bar'), (9, 1462536635, 'sss')]

In [58]:
conn.close()

In [93]:
creat_script = '''CREATE table soc_temp_new( id integer primary key, time timestamp,temp text)'''
test = '''CREATE table soc_temp_new( id integer primary key, time timestamp default (strftime('%s', 'now', 'localtime')),temp text)'''

conn=sqlite3.connect('test2.db',timeout=1)
try:
    conn.execute(test)

except sqlite3.OperationalError:
    print("database locked")
    #num_users=len(res)
conn.commit()
    
    
    ## revision to db
#conn = sqlite3.connect('test.db',timeout=1)
#create tab 
#conn.execute('''CREATE table soc_temp_new( id integer primary key, time timestamp default (strftime('%s', 'now')),txt text)''')
#conn.commit()




capture_times = 5
time_interval = 2
with open('test_source.txt','r') as f1:
    for i in range(capture_times): 
        print(str(i) + " time to capture")
        dtime = datetime.datetime.now()
        ans_time = time.mktime(dtime.timetuple())
        conn.execute('''INSERT INTO soc_temp_new(time,temp)VALUES(?,?)''',(ans_time, f1.readline()))
        print("sleep at %d seconds" % time_interval, end="\n\n") #http://stackoverflow.com/questions/12102749/how-can-i-suppress-the-newline-after-a-print-statement
        time.sleep(time_interval)

    conn.commit()
    conn.close()

database locked
0 time to capture
sleep at 2 seconds

1 time to capture
sleep at 2 seconds

2 time to capture
sleep at 2 seconds

3 time to capture
sleep at 2 seconds

4 time to capture
sleep at 2 seconds

In [94]:

insert1 = '''select * from soc_temp_new'''
conn=sqlite3.connect('test2.db',timeout=1)
cursor = conn.execute(insert1)
all_rows = cursor.fetchall()
for row in all_rows:
    print('{0} : {1}, {2}'.format(row[0], datetime.datetime.fromtimestamp(row[1]).strftime("%Y-%m-%d %H:%M:%S"), row[2]), end="")

1 : 2016-05-06 22:20:36, temp=37.9'C
2 : 2016-05-06 22:20:38, temp=35.8'C
3 : 2016-05-06 22:20:40, temp=38.2'C
4 : 2016-05-06 22:20:42, temp=38.1'C
5 : 2016-05-06 22:20:44, temp=38.5'C

In [103]:
insert = '''select * from soc_temp_new where strftime('%Y-%m-%d %H:%M:%S', datetime(time, 
'unixepoch','localtime'))  >  datetime('now','localtime','-2 hours')'''
conn=sqlite3.connect('test2.db',timeout=1)
cursor = conn.execute(insert)
all_rows = cursor.fetchall()
for row in all_rows:
    print('{0} : {1}, {2}'.format(row[0], datetime.datetime.fromtimestamp(row[1]).strftime("%Y-%m-%d %H:%M:%S"), row[2]), end="")

1 : 2016-05-06 22:20:36, temp=37.9'C
2 : 2016-05-06 22:20:38, temp=35.8'C
3 : 2016-05-06 22:20:40, temp=38.2'C
4 : 2016-05-06 22:20:42, temp=38.1'C
5 : 2016-05-06 22:20:44, temp=38.5'C

In [104]:
conn.close()

In [105]:


def setup_db():
    


def capture_log():

IndentationError: expected an indented block (<ipython-input-105-6e48f4990028>, line 7)

## TEST FILE AND DB

In [1]:
import os

In [2]:
os.path.abspath(__file__)

NameError: name '__file__' is not defined

In [3]:
os.getcwd()

'C:\\Users\\paulyang\\Desktop\\開發中商業\\Teaching\\Python_Teachings\\InProcessing\\demo2\\projects\\projects_day4\\officialProj\\soc_temp'

In [6]:
TEMP_LOG = 'temp.log'
os.path.exists(os.getcwd() + '\\' + TEMP_LOG )

False

In [5]:
os.getcwd() + '\\' + TEMP_LOG

'C:\\Users\\paulyang\\Desktop\\開發中商業\\Teaching\\Python_Teachings\\InProcessing\\demo2\\projects\\projects_day4\\officialProj\\soc_temp//temp.log'

In [7]:
do_create = not os.path.exists(DB_NAME)

NameError: name 'DB_NAME' is not defined

In [8]:
DB_NAME = os.getcwd() + '\\' + 'my_db.sqlite'

In [9]:
do_create = not os.path.exists(DB_NAME)

In [10]:
do_create

True

# test DB select for temp capture

In [2]:
import datetime
import os
import time
import sqlite3### test database select

DB_NAME = os.getcwd() + '\\' + 'my_db.sqlite'

In [3]:
DB_NAME

'C:\\Users\\paulyang\\Desktop\\\xb6}\xb5o\xa4\xa4\xb0\xd3\xb7~\\Teaching\\Python_Teachings\\InProcessing\\demo2\\projects\\projects_day4\\officialProj\\soc_temp\\my_db.sqlite'

In [5]:
select = '''select * from soc_temp_new where strftime('%Y-%m-%d %H:%M:%S', datetime(time, 
'unixepoch','localtime'))  >  datetime('now','localtime','-2 hours')'''
conn=sqlite3.connect(DB_NAME,timeout=1)
cursor = conn.execute(select)
all_rows = cursor.fetchall()
for row in all_rows:
    print('{0} : {1}, {2}'.format(row[0], datetime.datetime.fromtimestamp(row[1]).strftime("%Y-%m-%d %H:%M:%S"), row[2]), end="")

SyntaxError: invalid syntax (<ipython-input-5-7d934303f52f>, line 7)